<form action="/users/signup" method="POST">
    <label>
        First Name
        <input type="text" name="first_name" placeholder="First Name" />
    </label>
    <label>
        Last Name
        <input type="text" name="last_name" placeholder="Last Name" />
    </label>
    <label>
        Email Address
        <input type="text" name="email" placeholder="you@email.com" />
    </label>
    <label>
        Password
        <input type="text" name="password" placeholder="Password" />
    </label>
    <button type="submit">SIGN UP</button>
</form>